.button{
    margin: 1em 0;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #2196f3;
    height: 3em;
    cursor: pointer;
    &:hover{
        background-color: #1184e2;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}