.mainContainer{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    min-height: 100vh;
}



@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .mainContainer{
        width: 768px;
        margin: 1em auto;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
