.mainContainer {
  width: 100vw;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  min-height: 95vh;
}

// @media (min-width: 576px) {
// }

@media (min-width: 768px) {
  .mainContainer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 650px;
  }
}

@media (min-width: 992px) {
  .mainContainer {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    padding: 2em;
    width: 900px;
  }
}
